@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	min-height: 100vh;
}

a {
	color: #007ace;
	transition: 0.3s ease-in-out;
}
a:hover {
	opacity: 0.5;
}

ul {
	padding-left: 2em;
	list-style-type: disc;
}

.font-retro {
	font-family: 'Press Start 2P', monospace;
}

/* source: https://nostalgic-css.github.io/NES.css/ */
.border-retro {
	border-style: solid;
	border-width: 4px;
}
.border-retro-rounded {
	border-style: solid;
	border-width: 4px;
	border-image-slice: 3;
	border-image-width: 3;
	border-image-repeat: space;
	border-image-source: url('./resources/retro-border.svg');
	border-image-outset: 2;
}
@media (prefers-color-scheme: dark) {
	.border-retro-rounded {
		border-image-source: url('./resources/retro-border-gray.svg');
	}
}

/* Tooltip */
.tooltip {
	position: relative;
	display: inline-block;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #444444;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 4px;
	position: absolute;
	z-index: 1;
	bottom: auto;
	left: auto;
	right: calc(100% + 5px);
	margin-left: -200px;
	opacity: 0;
	transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
	content: ' ';
	position: absolute;
	top: 50%;
	left: 100%; /* To the right of the tooltip */
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent #444444;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
